h3:hover{
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 100px;
    list-style: none;
}

.menu li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
}
li:hover {
     animation: line 1s;
 }

li:hover a {
     color: #d94f5c;
 }

li:not(:last-child) {
     margin-right: 30px;
 }

li a {
    font-size: 22px;
    color: #082103;
    /*color: #777;*/
    text-decoration: none;
    transition: all 0.45s;
}

@keyframes line {
    0% {
        background-position-x: 390px;
    }
}
